html {
  font-family: sans-serif;
  --border-width: 0.5rem;
  --border-radius: 0.5rem;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.board{
--number-of-columns: 6;
--gap: 2rem;
display: grid;
grid-template-columns: repeat(var(--number-of-columns),1fr);
// justify-content: center;
// justify-items: stretch;
gap: var(--gap);
}

.slot{
  min-width: 11rem;
  min-height: 7rem;
  display: flex;
  align-items: stretch;
}

.card{
  flex: 1 1 100%;
  border: solid var(--border-width) #000;
  border-radius: var(--border-radius);
  background-color: var(--color);
  color: var(--label-color);
  font-size: 1em;
}